html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background:rgba(0, 0, 0, 0.5) url("/assets/homepage_1.jpeg");
  background-size: cover;
  background-position: 50% 20%;
  font-family: 'Roboto', sans-serif;
}

.container {  
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "leftCont leftCont miscTop rightTop rightTop rightTop"
      "leftCont leftCont miscBottom rightTop rightTop rightTop"
      "leftCont leftCont rightBottom1 rightBottom1 rightBottom1 rightBottom2"
      "leftCont leftCont rightBottom1 rightBottom1 rightBottom1 rightBottom2"
      "leftCont leftCont rightBottom1 rightBottom1 rightBottom1 rightBottom2";
  }
  
.leftCont { 
    grid-area: leftCont; 
}

.rightTop { 
    grid-area: rightTop; 
}

.rightBottom1 { grid-area: rightBottom1; }

.rightBottom2 { grid-area: rightBottom2; }

.miscTop { 
    grid-area: miscTop; 
}

.miscBottom { 
    grid-area: miscBottom; 
    position: relative;
}
  
.leftCont, .rightTop, .rightBottom1, .rightBottom2, .miscTop, .miscBottom {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 1ex;
}

#playlist {
    width: 98%;
    height: 95%;
    border-radius: 20px;
    margin-left: 1%;
    margin-top: 1%;
}

#calendar {
    width: 98%;
    height: 95%;
    border-radius: 10px;
    margin-left: 1%;
    margin-top: 2%;
    filter: invert(.9) saturate(0.5) hue-rotate(145deg);
}

.to-do-list {
    height: 90%;
    overflow-y: scroll;
}

.to-do-list::-webkit-scrollbar {
    display: none;
}

#my-input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    height: 3vh;
    width: 86%;
    margin-top: 5%;
    border-radius: 6px;
    text-indent: 5%;
    /*box-shadow: 0 0 5px 3px rgba(0,0,0,0.1);*/
}

.task {
    margin-left: 5%;
    display: inline-flex;
    width: 90%;
    padding-top: 1%;
    
}

.task span {
    border-radius: 10px 0 0 10px;
    width: 100%;
    resize: none;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
}

.task span p {
    margin-left: 5%;
    width: 90%;
    resize: none;
    overflow-wrap: break-word;
    color: black;
}

.delete {
    width: 10%;
    border-radius: 0 10px 10px 0; 
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.5);
    color: red;
}

#logout {
    background: #f2eee3;
    border-radius: 10px;
    padding: 1%;
    /*position: absolute;
    left: 60%;
    top: 70%;*/
}

.miscBottom p {
    font-weight: normal;
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #f2eee3;
}
